<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.learn.infrastructure.persistent.dao.IStrategyRuleDao">

    <!-- resultMap 用于解决属性名和字段名不匹配的问题，用于建立不同名称之间映射 -->
    <!-- id只要是一个唯一的标识符即可 -->
    <resultMap id="dataMap" type="cn.learn.infrastructure.persistent.po.StrategyRulePO">
        <id property="id" column="id"/>
        <result property="strategyId" column="strategy_id"/>
        <result property="awardId" column="award_id"/>
        <result property="ruleType" column="rule_type"/>
        <result property="ruleModel" column="rule_model"/>
        <result property="ruleValue" column="rule_value"/>
        <result property="ruleDesc" column="rule_desc"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="queryStrategyRuleList" resultMap="dataMap">
        select *
        from strategy_rule
        limit 5
    </select>
    <select id="queryStrategyRule" resultMap="dataMap">
        select strategy_id, award_id, rule_type, rule_model, rule_value, rule_desc
        from strategy_rule
        where strategy_id = #{strategyId} and rule_model = #{ruleModel}
    </select>

</mapper>
